@font-face {
    font-family: Monaco;
    src: url("../fonts/Monaco.ttf");
}

#top {
    min-height: 50%;
    text-align: center;
}

#left {
    width: 50%;
    height: 68%;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
}

#left2 {
    position: relative;
    max-height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#left2::-webkit-scrollbar {
    display: none;
}

#right {
    width: 50%;
    float: right;
}

body{
    height: 100%;
    background-color: #2A2926;
    color: 	#909090;
    font-family: 'Monaco';
}

input {
    border: none;
    border-bottom: 1px solid #909090;
    font-family: 'Monaco';
    color: #A0A0A0;
    background: transparent;
}

::placeholder {
    color: #A9A9A9;
}

.left-button {
    background: transparent;
    border: none;
    font-family: 'Monaco';
    color: #909090;
    transition: all .25s;
    width: 100%;
    text-align: left;
}

.left-button:hover {
    background-color: #80808080;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 15%;
    width: 100%;
    text-align: center;
}

#switch {
    border: none;
    border-radius: 5px;
    background-color: #A0A0A0;
    color: #707070;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 25px;
    font-family: 'Monaco';
}